.App {
  max-width: 350px;
  margin: 0 auto;
}

.App-title {
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
}

.App-title.bold {
  font-weight: bold;
}

.App-title.red {
  color: red;
}